@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020617;
  --neutral: #e2e8f0;
  --neutral-text: #71717a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
